<h1><%= @team[name] %></h1>
<h2>Motto: <%=@team[motto]%></h2>

<h2>Members</h2>
<h3><%= @team[members][super1][name]%></h3>
<p>Power: <%= @team[members][super1][power]%></h3>
<p>Biography: <%= @team[members][super1][biography]%></h3>

<h3><%= @team[members][super2][name]%></h3>
<p>Power: <%= @team[members][super2][power]%></h3>
<p>Biography: <%= @team[members][super2][biography]%></h3>

<h3><%= @team[members][super3][name]%></h3>
<p>Power: <%= @team[members][super3][power]%></h3>
<p>Biography: <%= @team[members][super3][biography]%></h3>
